body {
  font-family: "Roboto Mono", monospace;
  min-height: 600px;
  background-color: #7e7a7a;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #000000;
  margin: 0 0 5px;
}

.equation {
  text-align: center;
  color: #000000;
  margin-top: 10px;
}

@media (max-height: 500px) {
  body {
    min-height: 800px;
  }
}

input {
  margin-top: 10px;
  padding: 4px;
  border-radius: 5px;
  width: 100px
}

button {
  margin-top: 40px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

.roots {
  color: #000000;
  text-align: center;
  margin-top: 10px;
  font-size: 50px;
}

.extra {
  color: #000000;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.page-image {
  width: 250px;
}